.toast_wrapper {
  position: absolute;
  right: 10px;
  top: 70px;
  z-index: 1;
}

.myChats_wrapper {
  display: flex;
  flex-direction: column;
  width: 31%;
  overflow-y: scroll;
}

.myChats_wrapper::-webkit-scrollbar {
  display: none;
}

.chatBox_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75%;
  overflow-y: hidden;
}

.text-nextline {
  max-width: 300px;
  word-break: break-all;
  white-space: normal;
}

.chat_content {
  overflow-y: scroll;
}

.chat_content::-webkit-scrollbar {
  display: none;
}

.display_none {
  display: none;
}

@media (max-width: 500px) {
  .hide_heading {
      display: none;
  }
}

@media (max-width: 700px) {
  .myChats_wrapper {
      display: none;
  }

  .chatBox_wrapper {
      width: 100%;
  }

  .display_none {
      display: inline;
  }
}